.modal-overlay {
	position: fixed;
	inset: 0;
	background-color: rgba(0, 0, 0, 0.4);
	backdrop-filter: blur(4px);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9999;
	padding: 1rem; /* prevents modal from touching edges */
	box-sizing: border-box;
	overflow: hidden;
}

.modal-content {
	background-color: #732ea7;
	color: white;
	padding: 2.5rem 2rem;
	border-radius: 1.5rem;
  	width: 50vw;      /* fixed to 80% of viewport width */
  	height: 80vh;     /* fixed to 80% of viewport height */
	text-align: center;
	position: relative;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
	font-family: var(--primary-font-family);
}

.modal-content h1 {
	font-size: 1.5rem;
	margin-bottom: 0.9rem;
	margin-top: 2rem;
}

.modal-content p {
	font-size: 0.9rem;
	margin-bottom: 1rem;
	margin-top: 1rem;
}

.pdf-container {
  width: 100%;
  height: 100%;
  flex: 1 1 auto;
  min-height: 0;
  overflow: hidden; /* or auto for scrolling */
  margin-bottom: 10px;
}

.pdf-container embed,
.pdf-container object {
  width: 100%;
  height: 100%;
  display: block;
  overflow: auto;
  overflow: hidden;
}

.modal-close-btn {
	position: absolute;
	top: 1rem;
	right: 1rem;
	background: transparent;
	border: none;
	cursor: pointer;
	color: white;
	font-size: 1.5rem;
}

.pdf-viewer {
	width: 100%;
	height: 600px;
}

.resume-modal {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

@media screen and (max-width: 800px) {
	.modal-content {
		padding: 2rem 1.2rem;
		font-size: 0.95rem;
		border-radius: 1rem;
		width: 90vw;
		max-height: 90vh;
	}
}

@media screen and (max-width: 600px) {
	.modal-content {
		padding: 2rem 1.2rem;
		font-size: 0.95rem;
		border-radius: 1rem;
		width: 90vw;
		max-height: 90vh;
	}
}

@media screen and (max-width: 400px) {
	.modal-content {
		padding: 2rem 1.2rem;
		font-size: 0.95rem;
		border-radius: 1rem;
		width: 90vw;
		max-height: 90vh;
	}
}
