.nav {
	height: 80px;
	background: var(--nav-bg);
	width: 100%;
	position: fixed;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
	display: flex;
	align-items: center;
	z-index: 99;
}

.nav__wrapper {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
}

.nav__logo {
	font-size: 1.5rem;
	font-family: var(--secondary-font-family);
}
.nav__menu {
	display: flex;
	list-style: none;
	align-items: center;
}

.nav__menu-items a {
	margin-right: 20px;
	margin-left: 20px;
	font-size: 18px;
	position: relative;
	cursor: pointer;
	color: var(--text-color);
	text-decoration: none !important;
	transition: all 0.5s ease-in;
}

.nav__menu-items a::before {
	content: '';
	position: absolute;
	bottom: -5px;
	left: 0;
	height: 2px;
	background-color: transparent;
	transition: all 0.5s ease-in;
	width: 100%;
}
.nav__menu-items a:hover {
	color: var(--special-text);
}

.nav__menu-items a:hover::before {
	content: '';
	background-color: var(--special-text);
}

.buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: +30px;
	align-items: relative;
}

/* Button Styles */
.nav_button {
	background-color: var(--background-color);
	color: var(--special-text);
	border: 1px solid #3b3d49;
	cursor: pointer;
	transition: background-color 0.3s ease, color 0.3s ease;
	border-radius: 30px;
	height: 60px;
	width: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav_button:hover {
	background-color: var(--special-text); /* before --secondary-color, now --special-text*/
	color: var(--background-color); /* before white, now Indigo #4B0082 */
	text-decoration: none;
}

.switch {
	position: relative;
	margin-left: 10px;
	margin-right: 20px;
	top: 5px;
}

.hamburger-menu {
	display: none;
	cursor: pointer;
	padding: 10px 50px 10px 0;
}

.bar {
	width: 25px;
	height: 3px;
	background-color: var(--special-text);
	margin: 5px 0;
	transition: 0.4s;
}

@media (max-width: 991px) {
	.nav__wrapper {
		padding: 0 50px;
	}
}

@media screen and (max-width: 768px) {
	.hamburger-menu {
		display: block;
	}

	.bar.open:nth-child(1) {
		transform: rotate(-45deg) translate(-5px, 6px);
	}

	.bar.open:nth-child(2) {
		opacity: 0;
	}

	.bar.open:nth-child(3) {
		transform: rotate(45deg) translate(-5px, -6px);
	}

	.nav__wrapper {
		flex-direction: column;
		align-items: flex-start;
		padding: 0 50px;
	}

	.nav__menu {
		display: none;
		flex-direction: column;
		position: absolute;
		top: 60px;
		left: 0;
		width: 100%;
		background-color: var(--nav-bg);
		align-items: flex-start;
		margin-top: 10px;
	}
	.nav__menu-items {
		padding: 15px;
		text-align: center;
		margin-bottom: 10px;
	}

	.mobile-menu {
		display: flex;
	}

	.buttons {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: +30px;
		align-items: relative;
	}
}

@media (max-width: 500px) {
	.nav__wrapper {
		padding: 0 20px;
	}
}